---
apiVersion: crunchydata.com/v1
kind: Pgcluster
metadata:
  name: {{ db_deployment_name }}
  labels:
    crunchy-pgha-scope: {{ db_deployment_name }}
    deployment-name: {{ db_deployment_name }}
    name: {{ db_deployment_name }}
    namespace: {{ openshift_project }}
    pg-cluster: {{ db_deployment_name }}
    pgo-version: {{ pgo_version }}
  annotations:
    current-primary: {{ db_deployment_name }}
  namespace: {{ openshift_project }}
spec:
  port: '{{ pg_port }}'
  exporterport: '9187'
  clustername: {{ db_deployment_name }}
  pgbadgerport: '10000'
  userlabels:
    pgo-version: {{ pgo_version }}
  name: {{ db_deployment_name }}
  ccpimage: crunchy-postgres-ha
  ccpimagetag: centos8-13.2-{{ pgo_version }}
  PrimaryStorage:
    accessmode: ReadWriteMany
    matchLabels: ''
    name: {{ db_deployment_name }}
    size: {{ pv_size }}
    storageclass: {{ storageclass }}
    storagetype: dynamic
    supplementalgroups: ''
  database: {{ pg_database }}
  namespace: {{ openshift_project }}
  BackrestStorage:
    accessmode: ReadWriteMany
    matchLabels: ''
    name: ''
    size: {{ pv_size }}
    storageclass: {{ storageclass }}
    storagetype: dynamic
    supplementalgroups: ''
  ReplicaStorage:
    accessmode: ReadWriteMany
    matchLabels: ''
    name: ''
    size: {{ pv_size }}
    storageclass: {{ storageclass }}
    storagetype: dynamic
    supplementalgroups: ''
  podAntiAffinity:
    default: preferred
  user: {{ pg_username }}
