localhost ansible_connection=local ansible_python_interpreter="/usr/bin/env python"

[all:vars]

openshift_host={{ openshift_host }}
openshift_project={{ openshift_project }}
openshift_user={{ openshift_user }}
openshift_token={{ openshift_token.stdout }}
